* {
font-family: degular-display,sans-serif;
font-weight: 200;
font-style: normal;

font-family: degular-display,sans-serif;
font-weight: 700;
font-style: normal;

font-family: degular-text,sans-serif;
font-weight: 200;
font-style: normal;

font-family: degular-text,sans-serif;
font-weight: 700;
font-style: normal;
}

body {
	font-family: degular-text,sans-serif;
	font-weight: 400;
	color: #0D0D0D;
	background-color: #f9f9f9;
	margin-top: 24px;
	margin-left: 24px;
	margin-right: 24px;
	margin-bottom: 24px;
	font-size: 16px;
}
	
.top {
	font-size: 24px;
	text-align: center;
	color: #662fe2;
	position: sticky;
	top: 30px;
	width: device-width;
	height: auto;
}

.des {
		text-align: center;
		color: #0D0D0D;
		top: 30px;
		width: device-width;
		height: auto;
	}

#center {
	top: 24px;
	color: #662fe2;
}

#text {
	font-family: degular-text,sans-serif;
	font-weight: 400;
	color: #0D0D0D;
}


.bottom {
	text-align: center;
	color: #0D0D0D;
	position: fixed;
	bottom: 0px;
	width: device-width;
	height: auto;
	background: #f8f8f8
}

a {
	color: #0cc66c;
	font-weight: 400;
	text-decoration: underline;
	text-decoration-color: #662fe2;
}

ul {

}

#footer {
font-family: degular-text,sans-serif;
font-weight: 400;
}