@font-face {
	font-family: 'EduFavoritHangul';
	src: url(/resources/EduFavoritHangul-Regular.woff2) format('woff2');
	font-weight: book;
}

* {
	font-family: 'EduFavoritHangul', sans-serif;
	font-size: 14px;
	line-height: 20px;
}

body {
	font-family: 'EduFavoritHangul', sans-serif;
	color: #0D0D0D;
	background-color: #e3e7e9;
	margin: 0px;
}

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: sticky;
	background-color: #f6f6f6;
	padding: 8px 8px;
}

.navbar_menu {
	list-style: none;
	  display: flex;
	  margin: 0;
	  padding-left: 16px;
}

.navbar_menu a {
	color: #111111;
}

.navbar_menu li {
	align-items: right;
	padding: 8px 16px;
}

.top {
	margin-left: 24px;
	margin-right: 24px;
	color: #0D0D0D;
	top: 30px;
	height: auto;
}


#center {
	margin-left: 24px;
	top: 24px;
	color: #0D0D0D;
}

#minor {
	font-size: 12px;
	color: #9d9d9d;
}


.bottom {
	text-align: center;
	color: #0D0D0D;
	position: fixed;
	bottom: 0px;
	width: device-width;
	height: auto;
	background: #f8f8f8
}

a {
	color: #773dff;
	text-decoration: none;
}

ul {
	margin-left: 16px;
	margin-right: 24px;
}

#lang {
	font-size: 12px;
	color: #001e86
}

#footer {
	text-align: center;
	color: rgba(18, 18, 18, 0.5);
}