@font-face {
	font-family: 'IBM Plex Sans', sans-serif;
}

* {
	color: #060509;
	font-family: 'IBM Plex Sans', sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
}

body {
	background-color: #f3f3f3;
	margin-top: 24px;
	margin-left: 24px;
	margin-right: 24px;
	margin-bottom: 24px;
}

h1 {
	font-weight: 600;
	font-size: 16px
}

	
#minor {
	color: #060509;
	opacity: 0.6;
	font-size: 12px
}

a {
	color: #2d2fde;
	text-decoration: none;
}

#title {
	color: #fd02a4;
}

hr.solid {
	border-top: 1px solid #eeeeee;
	border-radius: 1px;
}

ul {
	margin-right: 24px;
}

#footer {
	text-align: center;
	color: #ffffff;
}