html {
	font-size: 20px;
}

*{
	box-sizing:border-box;
	font-family: "arial", sans-serif;
	margin:0 auto;
	transition: opacity 0.5s;
	font-size: 0.875rem;
	line-height: 1.4;
}

/* hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
} */

h1, h2, h3, h4, h5 {
	margin: 0;
	padding: 0;
	font-weight: normal;
	text-decoration: none;
}

body{
	font-style: normal;
	color: #171313;
	background-color: #efefef;
}
a:hover{
	opacity: 50%;
}


h1{
	/* LANDING H1 */
	font-size: 1.5rem; /* 24px equivalent */
	padding-bottom: 0.75rem; /* 12px equivalent for h1 */
}

h2{
	/* SECTION TITLE */
	font-size: 1.5rem; /* 24px equivalent */
	padding-bottom: 0.25rem; /* 4px equivalent */
}

h3{
	/* ITEM TITLE */
	font-weight: bold;
	padding: 0px;
}

h4{
	/* Approach Body */
	padding: 0px;
}

h5{
	
}

sub{
}

img{
	margin-bottom: 0.5rem; /* 8px equivalent */
	width: 100%;
	aspect-ratio: 5 / 3.5; object-fit: cover;
}

iframe{
	width: 100%;
	aspect-ratio: 16 / 9;
	object-fit: cover;
	margin-bottom: 0.5rem; /* 8px equivalent */
}

button {
	
	border: none;
	background-color: rgb(236, 236, 236);
	color: rgb(27, 27, 27);
	padding: 1rem 1.5rem; /* 16px vertical and 24px horizontal paddings */
	border-radius: 2rem; /* 32px equivalent */
	font-size: 1rem; /* 16px equivalent */
	margin-right: 0.5rem; /* 8px equivalent */

	text-decoration: none;
	display: inline-block;

	cursor: pointer;
}

footer {
	background-color: #e4e4e4;
	
	padding: 1rem 0; /* 16px top and bottom padding */
	margin-top: 2rem; /* 32px equivalent */
}

.footertext{
	margin: 1rem 0; /* 16px top and bottom margin */
	padding-left: 1rem; /* 16px left padding */
}

/* NAVIGATION BAR */
.navbar{
	display: flex;
	text-align: left;
	padding: 1rem; /* 16px padding */
}
.navbar a {
	color: #171313;
	text-decoration: none;
}
.left-container{
	flex: 25%;
	padding: 0px 1rem 0px 0px;
}
.right-container{
	display: flex;
	flex-wrap: wrap; 
	flex: 75%;
}

.page{
	color: #171313;
	padding: 0px 0px 0px 0px;
	flex: 25%;
}
.page-now{
	padding: 0px 0px 0px 0px;
	flex: 25%;
}

.section-header{
	padding: 1.5rem;
	flex: 50%;
	top: 0;
}

.hello-container{
	padding: 0px 1rem;
	padding-top: 1rem;
	display: flex;
	flex-wrap: wrap; 
}

.hello{
	padding: 0px;
	margin-bottom: 4rem;
	flex: 50%;
}
.hello p{
	line-height: 140%;
}
.hello a{
	color: black;
	text-decoration-color: rgb(48, 55, 230);
}

.about-container{
	display: flex;
	flex-wrap: wrap;
	padding: 0px 12px;
}
.about-left{
	display: flex;
	flex-wrap: wrap;
	flex: 50%;
}
.about{
	flex: 50%;
	padding: 0px 12px;
}
.about-right{
	flex: 50%;
	padding: 0px 12px;
}
.about-right p{
	font-size: 16px;
	line-height: 140%;
	padding: 0px 0px 20px 0px;
}
.about-right a{
	color: black;
	text-decoration-color: rgb(48, 55, 230);
}
.about img{
	aspect-ratio: 3.5 / 5; 
}
.connect{
	display: flex;
	flex-wrap: wrap;
	flex: 50%;
	padding: 12px;
	margin: 24px 0px 24px 0px;
}
.connect button{
	margin: 12px 0px 0px 0px;
}

/* LIST 3 - project */
.section{
	display: flex;
	flex-wrap: wrap;
}

.list{
	padding: 0px 16px;
}
.list a{
	all: unset;
}
.list button{
	margin: 12px;
}

.list-item{
	display: flex;
	flex-wrap: wrap; 
	flex: 100%;
	margin-bottom: 40px;
}

.list-img{
	padding: 0px;
	flex: 50%;
}

.list-info{
	padding: 0px 0px 0px 1rem;
	flex: 50%;
	cursor: pointer;
}

.list-info h4 {

}


/* LIST 2 - approach */
.list-app{
	padding: 24px 12px 24px 12px;
	flex: 50%;
}

.collaborators{
	background-color: #f6f6f6;
	padding: 24px;
}
.collaborators h5{
	padding: 8px 0px 8px 0px;
}
.collaborators ul{
	margin: 0px 0px 16px 0px;
}

/* RESPONSIVE */
@media (max-width:620px) {
	
	html {
		font-size: 16px;
	}
	
	.right-container{
		display: flex;
		flex-wrap: wrap; 
		flex: 50%;
	}
	.left-container{
		flex: 50%;
	}
	.page{
		flex: 100%;
	}
	.hello-h, .hello{
		flex: 100%;
		padding: 0px;
	}
	.section-header{
		flex: 100%;
	}
	.list-item{
		flex: 100%;
	}
	.list-img, .list-info{
		flex: 100%;
	}
	.list-info{
		padding: 0px;
	}
	.list-app{
		flex: 100%;
	}
	.about-left{
		flex: 100%;
	}
	
	/* Hide h5 elements by default in mobile mode and enable transition */
	.list-info h4 {
		max-height: 0;
		opacity: 0;
		overflow: hidden;
		transition: max-height 0.3s ease, opacity 0.3s ease;
	}
	.list-info h4.show {
		max-height: 5em; /* Adjust this value based on your content */
		opacity: 1;
	}
	
	/* h2{
		display: none;
	} */
}