@font-face {
	font-family: 'ImperialSansText';
	src: url('resources/fonts/ImperialSansText-Regular.woff2') format('woff2');
	font-weight: normal;
	/* 400 */
	font-style: normal;
}

@font-face {
	font-family: 'ImperialSansDisplay';
	src: url('resources/fonts/ImperialSansDisplay-Regular.woff2') format('woff2');
	font-weight: normal;
	/* 400 */
	font-style: normal;
}

@font-face {
	font-family: 'ImperialSansDisplay';
	src: url('resources/fonts/ImperialSansDisplay-Light.woff2') format('woff2');
	font-weight: 200;
	font-style: normal;
}

html {
	font-size: 16px;
	background-image: url('resources/generic.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background: rgba(242, 242, 242, 1);
}

.bg {
	background-image: url('resources/generic.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: fixed;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	z-index: -1;
	-webkit-transform: translateZ(0);
	pointer-events: none;
}

.blur-layer{
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: fixed;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	z-index: -1;
	-webkit-transform: translateZ(0);
	pointer-events: none;
	background: rgba(0, 0, 0, 0.8);
	backdrop-filter: blur(2rem);
	-webkit-backdrop-filter: blur(2rem);
}

* {
	box-sizing: border-box;
	font-family: 'ImperialSansText', sans-serif;
	transition: 0.4s;
	font-size: 0.875rem;
	line-height: 115%;
	margin: 0;
	padding: 0;
	font-weight: normal;
	text-decoration: none;
	color: rgba(255, 255, 255, 0.9);
}

body {
	padding: 0rem 2rem;
}

.main {

}


h1, h2, h3, h4 {
	font-family: 'ImperialSansDisplay', sans-serif;
	padding: 0rem;
	margin: 0rem;	
	text-align: center;
	text-shadow: 0rem 0.5rem 1.5rem rgba(0, 0, 0, 0.3);
}


h1 {
	/* TITLE */
	font-size: 6rem; /*96*/
}

h2 {
	/* SUBTITLE */
	font-size: 2.5rem; /*40*/
}

h3 {
	/* ITEM TITLE */
	font-size: 1.5rem; /*24*/
	line-height: 130%;
	font-weight: 200;
	color: rgba(255, 255, 255, 0.75);
}

h4 {

}

p {
	font-family: 'ImperialSansText', sans-serif;
	font-size: 1rem; /*16*/
	line-height: 125%;
}

#o30 {
	opacity: 30%
}

#o50 {
	opacity: 50%
}

a{
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
	color: inherit;
	text-decoration: underline;
	text-underline-offset: 0.2rem;
	text-decoration-color: rgba(255, 255, 255, 0.5);
}

a:hover {
	/* opacity: 50%; */
	color: rgba(255, 255, 255, 0.5);
}

.title{
	padding-top: 17rem;
}

.title h1{
	margin-bottom: 0.5rem;
}

.sec, .sec-combination{
	margin-top: 14rem; /*200*/
}

.sec h2, h3 {
	max-width: 67%;
	margin-right: auto;
	margin-left: auto;
}

.sec-combination h2, h3 {
	max-width: 67%;
	margin-right: auto;
	margin-left: auto;
}

.sec-combination h2{
	margin-bottom: 1.5rem;
}


.s-sec{
	margin: 14rem 0rem;
}


#blur{
	transition: 0s;
}

.footer {
	text-align: center;
}

.footer p{
	padding-bottom: 1.5rem;
}

img {
	margin-bottom: 0.5rem;
	/* 8px equivalent */
	width: 100%;
	aspect-ratio: 2 / 1;
	object-fit: cover;
	/* border-radius: 1rem; */
}

footer {
	margin: 0px;
	padding: 0px;
}


.buttons{
	width: 50%;
	display: flex;
	flex-wrap: wrap;
	gap: 24px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 4.5rem;
}

.button, .big-button{
	text-decoration: none;
	box-shadow: 0rem 0.5rem 1.5rem rgba(0, 0, 0, 0.3);
	border: none;
	
	margin: 0rem;	
	text-align: left;
	padding: 0.5rem 1rem;
	cursor: pointer;
	block-size: fit-content;
	flex: 25%;
	display: flex;
	gap: 0.25rem;
	flex-wrap: wrap;
	backdrop-filter: blur(1em);
	-webkit-backdrop-filter: blur(1rem);
	padding: 1.5rem 1.25rem;
	background: rgba(0, 0, 0, 0.4);
}

.button{
	border-radius: 1.5rem;
	flex-direction: column;

}

.big-button{
	align-content: end;
	height: 15rem;
	border-radius: 2rem;
}

.big-button h2{
	text-shadow: none;
	text-align: left;
}

/*

Nav Bar Elements

*/

.navbar {	
	margin: 1.5rem 0rem;
	z-index: 1000;
	width: 100%;
	justify-content: center;
	align-content: center;
	height: auto;
	display: flex;
	flex-wrap: wrap;
	gap: 2rem; /* Expanded gap between buttons */
}

.nav-item {
	width: calc((100% - 10rem)/6);
	height: 3rem;
	border-radius: 1.5rem; /* Ensure border radius remains consistent */
	background: rgba(50, 50, 50, 0.2);
	text-align: center;
	align-content: center;

	backdrop-filter: blur(1rem);
	-webkit-backdrop-filter: blur(1rem);
	
	cursor: pointer;
}

#current {
	background: rgba(0, 0, 0, 0.5);
	color: rgba(255, 255, 255, 0.9);
}

.nav-item p{
	font-size: 1.5rem;
	color: inherit;
}

.nav-item:hover{
	opacity: 50%;
}

/* RESPONSIVE */
@media (max-width:900px) {

	html {
		font-size: 14px;
		background-attachment: fixed;
	}
	
	.navbar {
		margin: 1.5rem 0rem;
		width: 100%;
		position: sticky;
		gap: 0.5rem; 
	}
	
	.nav-item {
		flex: 30%;
	}
	
	.sec h2, h3 {
		max-width: 75%;
	}
	
	.sec-combination h2, h3 {
		max-width: 75%;
	}
	
	.buttons{
		width: 100%;
	}

	.carousel {
		overflow: visible;
		aspect-ratio: 5 / 3;
	}

	.slides {
		transform: none; /* Remove any transformations */
		transition: none; /* Disable transitions */
		flex-direction: column; /* Stack images vertically */
	}
	
	.slides img {
		margin-bottom: 0.8rem;
		aspect-ratio: 5 / 3;
	}
	
	img {
		aspect-ratio: 5 / 3;
	}
}
@media (max-width:680px) {
	
	.sec h2, h3 {
		max-width: 100%;
	}
	
	.sec-combination h2, h3 {
		max-width: 100%;
	}
	
	h1 {
		font-size: 4rem;
		background-attachment: fixed;

	}
	
	h2 {
		font-size: 1.75rem;
		line-height: 130%;
	}
	
	h3 {
		font-size: 1.25rem;
		line-height: 120%;
	}
	
	p{
		font-size: 1rem;
	}
	
	.buttons{
		flex-direction: column;
	}
	
	.footer {
		margin-top: 15rem;
	}
}